[program:catalogue]
command=/home/cloo/repl/apps/catalogue/bin/newrelic-admin run-program /home/cloo/repl/apps/catalogue/bin/gunicorn -c /home/cloo/repl/apps/catalogue/src/catalogue/deploy/gunicorn_config.py catalogue.app:app
environment= NEW_RELIC_CONFIG_FILE=/home/cloo/repl/apps/catalogue/src/catalogue/deploy/newrelic.ini,NEW_RELIC_ENVIRONMENT=test
user=cloo
directory=/home/cloo/repl/apps/catalogue/src/catalogue
stdout_logfile=/var/log/supervisor/%(program_name)s-access.log
stderr_logfile=/var/log/supervisor/%(program_name)s-error.log
autostart=true
autorestart=true
stopasgroup=true
